.bash_ec2
.bash_github
### /Users/kazuyukimori/.gitignore-boilerplates/Global/osx.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/kazuyukimori/.gitignore-boilerplates/Global/vim.gitignore

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


